# ==========================================
# [공통 설정]
# ==========================================
HOST=0.0.0.0
# 컨테이너 이름 충돌 방지를 위한 접미사 (dev 또는 prod)
# 예: niq-backend-dev, niq-backend-prod
CONTAINER_SUFFIX=dev


# ==========================================
# [포트 설정] (호스트:컨테이너)
# 개발용과 배포용이 다르게 설정되어야 함(개발용은 기본 포트 사용)
# ==========================================

# 1. Backend API
BACKEND_PORT=

# 2. Database (PostgreSQL)
# 내부 5432 포트를 호스트의 몇 번 포트와 연결할지
RDB_HOST_PORT=

# 3. Milvus (Vector DB)
MILVUS_PORT=
MILVUS_ADMIN_PORT=

# 4. Minio (Object Storage)
MINIO_CONSOLE_PORT=
MINIO_API_PORT=



# ==========================================
# [애플리케이션 설정]
# ==========================================
RDB_HOST=db
RDB_PORT=5432
RDB_NAME=dev_niq_db
RDB_USER=niq_admin
RDB_PASSWORD=

# Milvus/Minio 내부 접속 정보 (컨테이너 간 통신용)
MILVUS_HOST=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# 프론트엔드 CORS 허용 URL
FRONTEND_URL_1=http://localhost:xxxx
FRONTEND_URL_2=http://localhost:xxxx

# 보안 및 로그
APP_ENV=     # 개발 환경 명시
LOG_LEVEL=         # 상세 로그 출력
SSO_SECRET_KEY=

# OPENAI_API_KEY=
# GEMINI_API_KEY=

