server:
  host: ${HOST}
  port: ${BACKEND_PORT}
  sso_secret_key: ${SSO_SECRET_KEY}

  # CORS middleware 설정
  cors_origins:
    - ${FRONTEND_URL_1}
    - ${FRONTEND_URL_2}
  trusted_hosts:
    - "*"
  force_https: false
  gzip_min_size: 1000

  # 쿠키 보안 설정
  cookie_name: "coreiq_session"
  cookie_session_max_age: 28800 # 8 hours
  cookie_httponly: true   # 자바스크립트로 쿠키에 접근하지 못하게 해 XSS로 인한 탈취 방지
  cookie_secure: false    # [수정] 로컬(HTTP)에서는 false여야 쿠키가 저장됨
  cookie_samesite: "lax"  # [수정] "none"으로 하면 secure: true가 필수라 "lax"가 무난

database:
  user: ${RDB_USER}
  password: ${RDB_PASSWORD}
  host: ${RDB_HOST}
  port: ${RDB_PORT}
  database: ${RDB_NAME}

provider:
  openai:
    # api_key: ${OPENAI_API_KEY}
    models:
      - "gpt-5.2"
      - "gpt-5.2-pro-2025-12-11"
      - "gpt-5.1"
      - "gpt-5"
      - "gpt-4.1"
  anthropic:
    # api_key: ${ANTHROPIC_API_KEY}
    models:
      - "claude-sonnet-4-5-20250929"
      - "claude-haiku-4-5-20251001"
      - "claude-opus-4-5-20251101"
      - "claude-opus-4-1-20250805"
  gemini:
    # api_key: ${GEMINI_API_KEY}
    models:
      - "gemini-3-pro-preview"
      - "gemini-2.5-flash"
  huggingface: {}
  # ollama:
  #   base_url: "http://localhost:11434"

default:
  timeout: 60
  top_p: 0.8
  repetition_penalty: 1.2
  no_repeat_ngram_size: 3
  early_stopping: true
  max_tokens: 20000

workspace:
  provider: "huggingface"
  chat_mode: "chat"
  chat_history: 20
  query_refusal_response: "There is no information about this topic."
  top_n: 4
  similarity_threshold: 0.25
  temperature: 0.7

models_dir:
  llm_models_path: storage/models/llm
  embedding_model_path: storage/models/embedding
  rerank_model_path: storage/models/embedding-rerank/Qwen3-Reranker-0.6B

# 문서 저장경로
admin_raw_data_dir: storage/documents/raw_files/admin_raw_data
user_raw_data_dir: storage/documents/raw_files/user_raw_data
test_llm_raw_data_dir: storage/documents/raw_files/test_llm
# 문서생성 / 텍스트 요약 전체 텍스트 저장 경로
full_text_dir : storage/documents/full_text 

# 파인튜닝 관련 설정
fine_tuning:
  train_data_dir: storage/train_data
  progress_interval_sec: 2
  heartbeat_timeout_sec: 300
  max_oom_retries: 1
  disable_bnb: false  # (선택) BitsAndBytes 양자화 비활성화 여부
  optimizer: "paged_adamw_8bit"  # (선택) 옵티마이저 설정
  unsloth_merge_save: false  # (선택) MXFP4 모델 병합 저장 활성화 여부
  progress_every_steps: 1  # (선택) 몇 스텝마다 진행률 업데이트할지 설정

retrieval:
  temp_ttl_hours: 12
  paths:
    resources_dir: service/admin/resources
    val_session_root: storage/val_data
  milvus:
    uri: http://localhost:19530
    # token: ${MILVUS_TOKEN:-""}
    collections:
      ADMIN_DOCS: admin_docs_collection
      LLM_TEST: llm_test_collection
      WS_DOCS: workspace_docs_collection
      TEMP_ATTACH: temp_attach_collection
  task_types:
    - doc_gen
    - summary
    - qna

# 로깅 설정
logging:
  level: ${LOG_LEVEL}        # DEBUG | INFO | WARNING | ERROR | CRITICAL
  no_color: false     # true: ANSI 색상 비활성화



